//----- Fonts -----
$default-font-family:'Lato', sans-serif;
$default-font-size: 12px;

//----- Colors -----
$primary-color: #3498db;
$primary-font-color: #8ea1b4;
$primary-white: #fff;
$primary-green-blue: #51dacf;
$dark-blue: #34495e;
$light-blue: #d4e1ea;
$body-bg: #f5f6f8;